.page {
    max-width: 1280px;
    /* height: 6875px; */
    margin: 0 auto;
    background: #2a2c2f;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
  }