.cover {
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
}
@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}
@media (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}
@media (max-width: 480px){
.cover{
  min-height: 350px;
}
}
  

@media (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}
