.page__lead {
  margin: 0 auto;
  margin-top: 56px;
}

@media (max-width: 1024px) {
  .page__lead {
    margin-top: 48px;
  }
}
@media (max-width: 320px) {
  .page__lead {
    margin-top: 48px;
  }
}
