.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  align-items: start;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 768px;
    width: 100%;
    box-sizing: border-box;
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    max-width: 186px;
    margin: 0;
    padding: 64px 0 24px 16px;
  }
}
