.page__footer {
  margin: 92px 48px 24px 48px;
  /*  margin: 0 auto; */
}
@media (max-width: 768px) {
  .page__footer {
    margin: 88px 24px 24px 24px;
  }
}

@media (max-width: 320px) {
  .page__footer {
    /* margin: 0; */
    margin: 64px /* 118px */ 24px 16px;
  }
}
